.bg-dark{background: #c2c2c2 !important;border-top: 5px solid #665404;}
.top_header{width:100%;display: flex; justify-content: space-between;align-items: center;padding:11px 0}
.first_info ul{display: flex;justify-content: space-between;margin:0}
.social_icon ul{display: flex;margin:0}
.cizel_font{font-family: 'Cinzel', serif;}
.first_info ul li .email_cls{color:#665404 !important}
.first_info ul li a{color:#333}
.ralewy_font{font-family: 'Raleway', sans-serif;
}
.first_info ul li a i{margin-right:7px;display: inline-block;}
.first_info ul li i{margin-right:7px;display: inline-block;}
.first_info{width:60%}
.social_icon{width:20%;border-left: 1px solid #fff; border-right:1px solid #fff;display: flex;
  justify-content: center;}
  .social_icon ul{width:100%;padding: 0 20px;}
  .social_icon ul li{width:25%;text-align: center;}
  .social_icon ul li i{color:#665404 !important;font-size: 20px;}
  .login_conta{width: 20%;text-align: left;justify-content: flex-start;display: flex;}
  .login_conta span{background: #665404;border-radius: 3px;text-align: center;padding: 4px 10px;margin-left: 18px;}
  .login_conta span:hover{background: #000000;color: #fff !important;}
  .login_conta a:hover{color: #fff !important;}
  .login_conta span a{margin:0 !important}
  .custom_menu{padding:15px 0 !important}
  .custom_menu a{font-size: 16px !important; font-weight: bold !important;padding:2px 10px !important;border:2px solid #fff;}
  .custom_menu a:hover{color:#665404 !important}
  .custom_menu  li a.active{border:2px solid #ccc;color:#665404 !important;padding:2px 10px !important}
  .search {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-100%) translateY(-50%);
            transform: translateX(-100%) translateY(-50%);
  }
  .search * {
    outline: none;
    box-sizing: border-box;
  }
  .search__wrapper {
    position: relative;
  }
  .search__field {
    width: 50px;
    height: 50px;
    color: transparent;
    font-family: Lato, sans-serif;
    font-size: 1.35em;
    padding: 0.35em 50px 0.35em 0;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .search__field:focus {
    border-bottom-color: #ccc;
    width: 50vw;
    color: #2b2b2b;
    cursor: default;
  }
  .search__field:focus ~ .search__icon {
    background-color: transparent;
    cursor: pointer;
    pointer-events: auto;
  }
  .search__icon {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e9f1f4;
    width: 50px;
    height: 50px;
    font-size: 1.35em;
    text-align: center;
    border-color: transparent;
    border-radius: 50%;
    pointer-events: none;
    display: inline-block;
    transition: background-color 0.2s ease-in-out;
  }
  .search__field::-webkit-input-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .search__field:-moz-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .search__field::-moz-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .search__field:-ms-input-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .search__field::-webkit-input-placeholder[style*=hidden] {
    color: #83b0c1;
    font-size: .65em;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
  }
  .search__field:-moz-placeholder[style*=hidden] {
    color: #83b0c1;
    font-size: .65em;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
  }
  .search__field::-moz-placeholder[style*=hidden] {
    color: #83b0c1;
    font-size: .65em;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
  }
  .search__field:-ms-input-placeholder[style*=hidden] {
    color: #83b0c1;
    font-size: .65em;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
  }
  .search_con{position: relative;margin:0px 50px}
  .footer_log{width: 107px; margin:0 auto;display: inline-block;}
  .footer_log img{width:100%}
  .about_cmp p{text-align: justify;}
  .footer_heading{font-family: 'Cinzel', serif !important;font-weight: bold; font-size: 19px;color: #333;margin-bottom: 40px;}
  .in_fld{
    background: #333;
    border: 1p;
    background-color: #181828;
    border: 1px solid #394050;
    padding: 7px !important;
    border-radius: 3px;
    width: 100%;
    color: #fff;font-family: 'Raleway', sans-serif;}

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #ccc !important;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #ccc !important;
    }
   :-ms-input-placeholder { /* IE 10+ */
      color: #ccc !important;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: #ccc !important;
    }
.submit_btn{    background-color: #394050;
  width: 100%;
  border: none;
  width: 100%;
  padding: 20px 0 !important;
  margin: 0;
  line-height: 0;
  display: inline-block;
  border-radius: 3px;
  font-family: 'Cinzel', serif !important;
  color:#665404 !important;
  font-weight: bold;
}
.submit_btn:hover{background: #000;color:#fff !important}
.faq_list li{border:1px solid #394050;line-height: 20px;font-size: 16px;font-weight: 700; font-family: 'Cinzel', serif !important;}
.faq_list li a{display: block;
  padding: 12px 12px 12px 20px;color:#000;font-weight: 700;
  font-size: 17px;}
  .about_cmp p{color:#000 !important;font-family: 'Raleway', sans-serif;}
  .address  label{color: #292729;}
  .address  p{color: #292729 !important;}
  .address{border-bottom:1px solid #393d50;
    padding: 0 0 30px;
    margin-bottom: 30px;}
    .address_con ul li{margin-bottom: 15px;}
    .address_con ul li i{margin-right: 10px;}
    .privacy_policy{width:100%;display: flex;justify-content: space-between; align-items:center;padding:0 15px;font-family: 'Raleway', sans-serif;color:#000;padding: 0 134px;
      border-top: 1px solid #313646;
      padding-top: 30px;
      margin-top: 30px;}
    .f_social{width:100%;border:none}
    .copy_right{width:25%;font-size: 15px;}
    .faq_footer ul{display: flex;}
    .faq_footer ul li a{color:#000;padding: 0 10px; border-right: 1px solid #000;font-size: 15px;}
    .socail_footer{width:20%}
footer ul li a
{
color:#e8e8e8;
}
footer ul li a:hover
{
color:#ffcb05;
}

.heading
{
color:#ffcb05;
}

.heading a
{
color:#ffcb05;
}
.heading a:hover
{
color:#ffcb05;
}
.top-menu  a {
    font-size: 15px !important;
	}

.navbar-collapse{

  text-align: left;
  padding-left: 25px;
}

 .navbar-nav .nav-link {
    color: #231f20;
}
.navbar-nav .nav-link{
    color: #231f20 !important;
    font-size:16px !important;
}


.navbar-brand {

    padding: 5px;
}

.breadcrumb{
    border-radius:0;
}

/*---- Logo Area----*/
.logo{
width:99px;
height:auto;

}

.form-blms{
	border-bottom: 1px solid #ffcb05 !important;
}

.form-control{
	background: #f8f9fa;
    border: 1px solid #f8f9fa;
}

@media (max-width: 480px){
.carousel-inner {
    height: auto;
}
}

.dropdown-menu {
    padding: 0;
    border: 0;
    border-radius: 0;
    background: #ffcb05;
    }

  
  .dropdown-item {
    padding: 15px 22px;
    font-size: 15px;
	color:black;
    margin: 0px !important;
	}

	.dropdown-item:hover
	{
		background:black;
	}

@media (max-width: 480px){
.top-menu {
    height: auto;
}
}

/* Footer */
footer {
    background: #c2c2c2;
    padding-top: 40px;
    padding-bottom: 40px;
    }
.footer hr {
  width: 100%;
  margin-top: 44px;
  margin-bottom: 30px;
  border-top: 1px solid #7b7a7a;
}

.footer h3 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #ffcb05;
  text-transform: capitalize;
}

.footer p {
  color: #fff;
}

.footer .form-control {
  color: #999;
  font-size: 14px;
  margin-bottom: 15px;
  background: #1D1D1D;
  border-radius: 0px;
}

.footer .social-icons li {
  display: inline-block;
}

.footer .social-icons li a {
  color: #000;
  background: #fff;
  width: 35px;
  height: 35px;
  line-height: 38px;
  display: block;
  text-align: center;
  border-radius: 100%;
  font-size: 16px;
  margin: 15px 6px 12px 6px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.footer .social-icons li a:hover {
  color: #fff;
}

.footer .social-icons li .facebook:hover {
  background: #3b5999;
}

.footer .social-icons li .twitter:hover {
  background: #4A9CEC;
}

.footer .social-icons li .instagram:hover {
  background: #D6274D;
}

.footer .social-icons li .linkedin:hover {
  background: #1260A2;
}

.footer .social-icons li .google:hover {
  background: #CE332A;
}


.nav-tabs{
    background: #67c77b;
}
  .tab-link.active{

    background-color: #ffcb05 !important;
    color:#fff !important;
  }

  .tab-link{
    color:#fff !important;
    font-size: 20px !important;
    font-weight: 600 !important;
  }
    
    .tab-content{
      padding:40px 15px;
      border:0;
    }



    #posts-carousel-3col .owl-controls .owl-buttons{

      top:-175px !important;
    }



  .slide-post{
    height:338px;
    min-height:338px;
    max-height:338px;
  }
      .btn-blms{
        background-color: #ffcb05;
        border-color: #ffcb05;
    		font-weight:500;
    		font-size:16px;
    }
    .btn-blms:hover{
        color:#ffcb05;
        background-color: #231f20;
        border: 2px solid #231f20;
    }
	    .btn-blms:focus{
       outline: 0;
    }
    .btn-yellow{
        background-color: #231f20;
        border-color: #231f20;
        font-weight:500;
        font-size:16px;
        color: #ffcb05
    }
    .btn-yellow:hover{
        color:#231f20;
        background-color: transparent;
        border: 2px solid #231f20;

    }

    .btn-yellow{
      outline: 0;
    }
	.bg-blms{
		background:#ffcb05;
	 }

    .text-blms{

    color:#ffcb05;
  }

@media (max-width: 480px)
  {
      .navbar-brand img {
          max-width: 180px;
      }
      .nav-item{
          padding-left:0px!important;
      } 
  }
 


.btn-info-filled, .btn-info-filled:active, .btn-info-filled:focus {
    color: #fff;
    background: #ffcb05;
    border: 2px solid #ffcb05;
  }




.rating-block{
	border-radius:50%;
	background:#03a9f4;
	border:1px solid #03a9f4;

}
.rating-block h2{
	margin-top: 35%;
    font-size: 60px;
}


        /* search start  */

        .search-inline {
            width: 100%;
            left: 0;
            padding-left: 15px;
            padding-right: 15px;
            top: 0;
            height: 10%;
            position: absolute;
            opacity: 0;
            visibility: hidden;
            background-color: #efefef;
            z-index: 9;
            transition: all .5s ease-in-out;
        }

        .search-inline.search-visible {
            opacity: 1;
            visibility: visible;
            animation: fadeInDown 0.4s ease-in-out;
        }

        .search-inline button[type="submit"] {
            position: absolute;
            right: 52px;
            top: 0;
            background-color: transparent;
            border: 0px;
            top: 0;
            right: 80px;
            padding: 0px;
            cursor: pointer;
            width: 80px;
            height: 99%;
            background: #222;
            color: #fff;
        }

        .search-inline .form-control {
            border: 0px;
            padding-left: 0;
            font-size: 2rem;
            position: absolute;
            left: 1%;
            top: 0;
            height: 100%;
            width: 99%;
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            outline: none;
        }

        .search-inline .search-close {
            position: absolute;
            top: 0;
            right: 0;
            color: #616161;
            width: 80px;
            height: 100%;
            text-align: center;
            display: table;
            background: #efefef;
            text-decoration: none;
        }

        .search-inline .search-close i {
            display: table-cell;
            vertical-align: middle;
        }

        .form-control {
            display: block;
            width: 100%;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            border-radius: .25rem;
            transition: border-color .3s ease-in-out, box-shadow .3s ease-in-out;
        }
		.video-icon{
			position: absolute;
			top: 50%;
			left: 50%;
			width: 68px;
			height: 68px;
			margin-top: -34px;
			margin-left: -34px;
			font-size: 40px;
			z-index: 999;
			border: 2px solid #ffcb05;
			border-radius: 50%;
			text-align: center;
			padding-top: 12px;
			padding-left: 10px;
		}
		.video-icon-lock{
			position: absolute;
			top: 50%;
			left: 50%;
			width: 68px;
			height: 68px;
			margin-top: -34px;
			margin-left: -34px;
			font-size: 40px;
			color:#dc2a1d;
			z-index: 999;
			border: 2px solid #dc2a1d;
			border-radius: 50%;
			text-align: center;
			padding-top: 10px;
		}
		.icon{
			position: absolute;
		   top: -50%;
		   left: 50%;
		   width: 150px;
		   height: 150px;
		   margin-top: -75px;
		   margin-left: -75px; 
		}
		.icon img{
			width:150px;
			height:150px;
		}
		
		input[type=search] {
		  width: 130px;
		  box-sizing: border-box;
		  border: none;
		  border-radius: 4px;
		  font-size: 16px;
		  color:black;
		  background-color: transparent;
		  background-image: url('../img/searchicon.png');
		  background-position: 10px 10px; 
		  background-repeat: no-repeat;
		  padding: 12px 20px 12px 40px;
		  -webkit-transition: width 0.4s ease-in-out;
		  transition: width 0.4s ease-in-out;
		}

		input[type=search]:focus {
		  width: 100%;
		  
		}


        @keyframes fadeInDown {
            from {
                opacity: 0;
                transform: translate3d(0, -20%, 0);
            }
            to {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }
		
		.sidebar{
		
		border-right:2px solid #ece9e9;
		}
		
		

.quantity {
    float: left;
    margin-right: 15px;
    background-color: #eee;
    position: relative;
    width: 80px;
    overflow: hidden
}

.quantity input {
    margin: 0;
    text-align: center;
    width: 15px;
    height: 15px;
    padding: 0;
    float: right;
    color: #000;
    font-size: 20px;
    border: 0;
    outline: 0;
    background-color: #F6F6F6
}

.quantity input.qty {
    position: relative;
    border: 0;
    width: 100%;
    height: 40px;
    padding: 10px 25px 10px 10px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    border-radius: 0;
    background-clip: padding-box
}

.quantity .minus, .quantity .plus {
    line-height: 0;
    background-clip: padding-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-background-size: 6px 30px;
    -moz-background-size: 6px 30px;
    color: #bbb;
    font-size: 20px;
    position: absolute;
    height: 50%;
    border: 0;
    right: 0;
    padding: 0;
    width: 25px;
    z-index: 3
}

.quantity .minus:hover, .quantity .plus:hover {
    background-color: #dad8da
}

.quantity .minus {
    bottom: 0
}
.shopping-cart {
    margin-top: 20px;
}

.bot-links {
bottom:15px;
left:15px;
position:absolute;
}

.circle {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  padding: 50% 0;
  border-radius: 50%;
  
  /* Just making it pretty */
  @shadow: rgba(0, 0, 0, .1);
  @shadow-length: 4px;
  -webkit-box-shadow: 0 @shadow-length 0 0 @shadow;
          box-shadow: 0 @shadow-length 0 0 @shadow;
  text-shadow: 0 @shadow-length 0 @shadow;
  background: #38a9e4;
  color: white;
  font-family: Helvetica, Arial Black, sans;
  font-size: 48px;
  text-align: center;
}

.course-strip{
	border-bottom:1px solid #9c9c9c1f;
	padding:15px;
}
.course-strip:hover{
	background:#f1efef;
}
@media (max-width: 480px){
.top-menu .right {
    float: right;
    }
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .slide{
    width: 100%;
    height: 210px;
    max-height: 210px;
  }
  .slider-img img {
    width: 100% !important;
    height: 210px;
    max-height: 210px;
}
  .slider-img{
    width: 100%;
    height: 210px;
    max-height: 210px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .slide{
    width: 100%;
    height: 210px;
    max-height: 210px;
  }
  .slider-img img {
    width: 100% !important;
    height: 210px;
    max-height: 210px;
}
  .slider-img{
    width: 100%;
    height: 210px;
    max-height: 210px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .slide{
    width: 100%;
    height: 280px;
    max-height: 280px;
  }
  .slider-img img {
    width: 100% !important;
    height: 280px;
    max-height: 280px;
}
  .slider-img{
    width: 100%;
    height: 280px;
    max-height: 280px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .slide{
    width: 100%;
    height: 450px;
    max-height: 450px;
  }
  .slider-img img {
    width: 100% !important;
    height: 450px;
    max-height: 450px;
}
  .slider-img{
    width: 100%;
    height: 450px;
    max-height: 450px;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .slide{
    width: 100%;
    height: 500px;
    max-height: 500px;
  }
  .slider-img {
    width: 100%;
    height: 500px;
    max-height: 500px;
}
.slider-img img {
    width: 100% !important;
    height: 500px;
    max-height: 500px;
}
}

